html {
  height: 98% !important;
}

body {
  height: 100% !important;
  min-height: 640px !important;
}

.h-98 {
  height: 98% !important;
}

.h-90 {
  height: 90% !important;
}

.logo-header {
  height: 5rem;
  margin: 15px;
}

.h-100pct {
  height: 100% !important;
}

.rounded {
  border-radius: 50% !important;
  behavior: url(PIE.htc);
  border-top: 8px solid #3786bd;
  border-bottom: 8px solid #fc0;
  border-right: 2px solid #82f087;
  border-left: 2px solid #82f087;
  position: absolute;
  z-index: 1;
  background: white;
}

.header {
  margin-top: 8px;
}

.container {
  margin-top: 56px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.container h2 {
  font-weight: 700;
  font-size: 30px;
  padding: 6px 0 0;
  margin-bottom: 34px;
}

.container .write-code {
  background: #3786bd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px 40px;
  position: relative;
  width: 100%;
  color: #fff;
}

.container .write-code #drop-main {
  border: 3px dashed rgb(14, 51, 153);
  padding-right: -12.5px;
  border-top-left-radius: 5px;
  padding-right: 0;
  background: rgba(255, 255, 255, 0.2);
  padding-top: 2px;
}

.container .write-code .upload-main {
  margin-bottom: 16px;
}

.container .write-code .col-3 {
  padding-left: 0px;
  padding-right: 0px;
}

.container .write-code #drop-main .file-name {
  font-weight: 700;
  font-size: 18px;
  margin-right: 0px;
  margin-left: 8px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0;
}
.container .write-code #drop-main #filename-row {
  margin-right: 0;
}

.container .write-code #drop-main .remove-button {
  margin-right: 4px;
}

.container .write-code .disabled * {
  background-color: rgb(200, 200, 200)!important;
  cursor: not-allowed !important;
}
.container .write-code .disabled #browse-main {
  background-color: rgb(220, 220, 220)!important;
}
.container .write-code .drop {
  background-color: #d0d0ff !important;
}

.container .write-code .upload-main #browse-main {
  margin: 0;
  background: #fff;
  border: none;
  border-radius: 5px 0;
  cursor: pointer;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  padding: 12.5px;
  font-family: 'Open Sans', sans-serif;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  -o-appearance: unset;
  -ms-appearance: unset;
  outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  -o-outline: none;
  -ms-outline: none;
}
.container .write-code .upload-main #browse-main:hover {
  background: #e5e5e5;
}
.container .write-code .upload-main #browse-main:focus {
  border-color: #3786bd;
  box-shadow: inset 0 1px 1px rgba(252, 252, 252, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}
.container .write-code .upload-main #browse-main:active {
  border-color: #3786bd;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.container .write-code .disabled .upload-main #browse-main:focus,
.container .write-code .disabled .upload-main #browse-main:active {
  box-shadow: none;
}

.container .write-code #code {
  resize: none;
  height: 88%;
  margin-bottom: 12px;
}

.container .write-code .form-control:focus {
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.container .write-code .toggle-text {
  padding: 4px 8px;
  font-weight: 500;
  cursor: pointer;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 115px;
}

.container .write-code .selected {
  font-weight: 800;
}

.container .write-code .toggle {
  padding: 0 4px;
}

.container .write-code .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.container .write-code .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.container .write-code .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;

  border-radius: 34px;
}

.container .write-code .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;

  border-radius: 50%;
}

.container .write-code input:checked + .slider {
  background-color: #2196F3;
}

.container .write-code input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.container .write-code input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.container .submit-code {
  padding: 20px 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  position: relative;
}

.container .submit-code h2 {
	color: #3786bd;
}

.container .submit-code .upload-drop-zone {
  border: 3px dashed #3786bd;
  border-radius: 10px;
}

.container .submit-code .drop {
  border-color:#53c83c;
  background-color: rgba(55, 134, 189, 0.1);
}

.container .submit-code span {
	font-weight: 600;
	font-size: 15px;
	color: #666;
	display: block;
	margin-bottom: 8px;
}

.container .submit-code .upload-drop-zone .list-group {
  height: 232px;
  overflow:hidden;
  margin: 0 4px;
  padding-top: 8px
}

.container .submit-code .upload-drop-zone li {
  padding: 6px 0;
}

.container .submit-code .upload-drop-zone li span {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 4px;
}

.upload-drop-zone .label-blue{
  color: #53c83c !important;
} 

.upload-drop-zone #label-or,
.upload-drop-zone #label-drop {
  color: #777;
  margin-top: 11px;
  font-weight: 700;
}

.container .submit-code #browse-button:hover,
.container .submit-code input:hover{
  background: #2f73a3;
}

.container .submit-code #browse-button:focus,
.container .submit-code input:focus {
  border: none;
  box-shadow: inset 0 1px 1px rgba(252, 252, 252, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.container .submit-code #browse-button:active,
.container .submit-code input:active {
  border: none;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.container .submit-code #browse-button,
.container .submit-code input {
  background: #3786bd;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* width: 130px; */
  width: auto;
  border: none;
  margin: 6px 0 24px 0;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

.container .submit-code input {
  padding: 12.5px 16px;
}

.container .submit-code .submit-buttons {
  margin-top: 32px;
  padding: 0 15px;
}

.container .submit-code .submit-buttons .disabled{
  background: #678da8;
  cursor: not-allowed;
}

.container .submit-code #generate {
  margin-left: 16px;
}

.modal .modal-header {
  border: none;
}

#exampleModalLong.show {
  display: flex !important;
  display: -ms-flexbox !important;
}

.tab-pane.active {
  display: flex !important;
  display: -ms-flexbox !important;
  height: 100% !important;
}

.tab-pane.active textarea#yaml-code {
  min-height: 450px;
  resize: none;
  height: auto;
}

.overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1050;
  overflow: hidden;
  top: 0;
  left: 0;
}


.spanner{
  margin: auto;
}


@media (min-width: 992px) {
  .container .submit-code #drop-zone-collapse {
    display: block !important;
  }

  .container .submit-code #collapse-button {
    display: none;
  }
}


@media (max-width: 991.98px) {

  .container .write-code {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px;
  }
  
  .container .submit-code {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
  }

  .container .submit-code h2 {
    margin-bottom: 0;
  }

  .container .submit-code #collapse-button {
    padding-bottom: 25px;
    padding-top: 0px;
    height: 34px;
    width: 47px;
    margin-top: 8px;
    font-family: 'Verdana';
    font-size: 20px;
    font-weight: 800;
    float: right;
  }

  .container .submit-code #collapse-button:not(.collapsed)::after{
    content: "-";
  }

  .container .submit-code #collapse-button.collapsed::after{
    content: "+";
  }
}